// theme fonts
$font-rubik:  'Rubik', sans-serif;
$font-awesome: 'FontAwesome';

// theme colors
$theme-default:#E74C3C;
$theme-secondary:#2980B9;
$theme-success:#16A085;
$theme-info:#8E44AD;
$theme-warning:#FF9F1A;
$theme-danger:#6F1E51;
$theme-border:#E5E5E5;

// $morden-default:#f3e5d5;
$morden-default:#fdf8f8;

// theme fonts colors
$black:#36100C;
$black1:#000000;
$white:#ffffff;
$font-light:#A6B4C8;




// dark mode
$dark-card:#201a19;
$dark-body:#010000;
$dark-border:#2d1e1d;
$dark-small-font:rgba($white,0.8);